*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', 'Sans Serif';
}

body{
	background-color: black; 
}

#main{
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
}

#main > figure > a > img{
	display: block;
	margin: 0 auto;
	margin-top: 22px;
	margin-bottom: 5px;
	width: 670px;
	height: 393px;
}

#main > figure > figcaption{
	text-align: center;
	font-size: 28px;
	margin-bottom: 70px;
}

#main > figure > figcaption{
	color: #4b0066;
}

#main > #a, #b, #c, #d{
	text-align: center;
	margin: 0 auto;
	width: 81%; 
	background-color: #0d0d0d;
}

#main > #d{
	text-align: center;
}

#main > #a > video{
	margin-top: 30px;
	width: 580px;
	height: 370px;
}

#main > #b > video{
	margin-top: 30px;
	width: 580px;
	height: 370px;
}

#main > #c > iframe{
	margin-top: 49px;
	width: 580px;
	height: 370px;
}

#main > #d > audio{
	margin-top: 30px;
	margin-bottom: 60px;
}

#main > footer{
	text-align: center; 
	margin-top: 110px;
	color: rgb(250, 186, 24);
	font-size: 24px;
}