body{
	background: #0f1408;
	font-size: 24px;
}

#main{
	padding: 30px 40px;
	color: rgb(250, 186, 24);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bigimg{
	border-radius: 20%;
	border: 2px solid rgba(255, 0, 0, 0.6);
	margin-top: 40px;
	margin-bottom: 10px;
}

section, article{
	display: flex;
	flex-direction: column;
	width: 100%;
}

h2{
	text-decoration: underline;
	font-size: 72px;
	color: rgb(224, 25, 25);
	margin: 43.5px 0;
	align-self: center;
}

.space{
	margin-top: 40px;
}

/* Text Effects */

.bigify{
	font-size: 125%; 
	font-weight: bold;
}

.brighten{
	filter: brightness(125%);
}

.dropcap{
	float: left;
    font-size: 290%;
	font-weight: bold;
    margin-top: 15px;
    margin-right: 10px;
    color: rgb(250, 186, 24);
}

.hugeletter{
	font-size: 400%;
	font-weight: bold;
	font-family: 'Vollkorn', 'sans-serif';
}

/* End Text Effects */

section{
	align-self: flex-start;
}

p{
	line-height: 1.4em;
}

mark{
	background-color: black;
	color: rgb(250, 186, 24);
}

video{
	margin-top: 70px;
	width: 600px; 
	height: 350px;
}

ul{
	margin-top: -6px;
	margin-left: 85px;
	margin-bottom: 10px;
}

#hist{
	display: flex;
}

#hist > picture{
	filter: drop-shadow(0 0 0.2rem rgba(218, 153, 32, 0.219));
	margin-left: 27px;
}

a{
	text-decoration: none;
	color: rgb(255, 224, 144);
}

a:hover{
	text-decoration: underline;
}

table{
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
	margin: 40px 0;
	background: rgba(198, 255, 13, 0.102);
}

caption{
	font-size: 55px;
	font-weight: bold;
	color: rgb(251, 251, 251);
}

th{
	font-size: 36px;
	filter: brightness(115%);
}

tr{
	height: 80px;
}

td{
	text-align: center;
}

tr:nth-child(even){
	background: rgba(1,1,1,0.3)
}

tr:nth-child(1){
	background: rgba(255, 169, 58, 0.1);
}

td:nth-child(1) > img{
	margin-left: 10px;
}

.pic{
	align-items: center;
}

video{
	border: 3px solid black;
}

.albumholder{
	justify-content: space-evenly;
	width: 75%;
}

.songlist{
	justify-content: space-evenly;
	height: 450px;
	width: 400px;
}

.songlist > li{
	margin-left: 40px;
}

li::marker{
	font-weight: bold;
	font-size: 105%;
}

div > em{
	text-align: center;
	height: 50px;
	filter: brightness(105%) saturate(105%);
	font-size: 135%;
}

.listfont{
	font-size: 18px;
}

#section_a{
	color:#c81b1b; 
	background-color:#1a1a1a; 
	border-right: 4px solid rgb(204, 16, 16);
	border-left: 4px solid rgb(204, 16, 16);
	border-bottom: 4px solid rgb(204, 16, 16);

}

#section_a > em{
	border-top: 2px solid #ff5757; 
	border-bottom: 1px solid #ff5757; 
}

#section_b{
	background-color: gainsboro;
	border-right: 4px solid rgb(204, 16, 16);
	border-left: 4px solid rgb(204, 16, 16);
	border-bottom: 4px solid rgb(204, 16, 16);
}

#section_b > em{
	color:#cc0000; 
	border-top: 2px solid #ff5757;
	border-bottom: 1px solid #ff5757;
}

#section_b > ol{
	color:rgb(85, 85, 85); 
}

#section_b > ol > li > a{
	color: rgb(236, 45, 45);
}

#section_c{
	background-color: #f2b90d;
	border-right: 4px solid #075f7c; 
	border-left: 4px solid #075f7c; 
	border-bottom: 4px solid #075f7c; 
	color:#e65c00;
}

#section_c > em{
	color:#086f91; 
	border-top: 2px solid #2089ac;
	border-bottom: 1px solid #2089ac;
}

#section_c > ol > li > a{
	color: #159dca;
}

#section_d{
	border-right: 4px solid #075f7c; 
	border-left: 4px solid #075f7c; 
	border-bottom: 4px solid #075f7c;
	color:#f2c40d; 
	background-color:#618a0f;
}

#section_d > em{
	border-top: 2px solid #2089ac;
	border-bottom: 1px solid #0b5974;
	background-color: rgba(1,1,1,0.15);
	color:#fd6a45; 
}

#btn1 {
	border:3px solid black; 
	font-size:26px; 
	font-weight:bold; 
	color:black; 
	background:rgb(121, 121, 121);
}

#btn1:hover{
	cursor: pointer;
}

.stars{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10vw;
	height: 25px;
}

.stars > img {
	width: 35px;
	height: 32.5px;
	filter: saturate(275%) drop-shadow(0 0 0.2rem rgba(251, 255, 0, 0.6));
}
/* End Exclusive to CM Page */